.photo-2024-05-22-11-43-31-1 {
  position: absolute;
  top: 103px;
  left: 82px;
  width: 365px;
  height: 799px;
  background-image: url(./public/photo-20240522-114331-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.output-onlinegiftools-1-icon {
  position: absolute;
  top: -1px;
  left: -29px;
  width: 586px;
  height: 580px;
}
.photo-2024-05-22-11-43-31-1-parent {
  position: absolute;
  top: -103px;
  left: -83px;
  width: 522px;
  height: 794px;
}
.group-icon,
.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 358px;
  height: 706px;
}
.group-icon {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.shopping-shipping-cart {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 11px;
  left: 20px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.frame-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 72px;
  height: 65px;
  mix-blend-mode: darken;
}
.market1 {
  position: absolute;
  top: 49px;
  left: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 46px;
}
.frame1 {
  left: 0;
  width: 72px;
  height: 65px;
  overflow: hidden;
}
.frame1,
.friends1,
.market {
  position: absolute;
  top: 0;
}
.market {
  left: 216px;
  width: 72px;
  height: 65px;
}
.friends1 {
  left: 22px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 46px;
}
.frame-item,
.frame2 {
  position: absolute;
  left: 0;
}
.frame2 {
  top: 49px;
  width: 68px;
  height: 10px;
  overflow: hidden;
}
.frame-item {
  top: 0;
  background-color: var(--color-gainsboro);
  width: 72px;
  height: 65px;
  mix-blend-mode: darken;
}
.frame4,
.multiple-user-icon {
  position: absolute;
  height: 32px;
}
.multiple-user-icon {
  top: 0;
  left: 28px;
  width: 32px;
  overflow: hidden;
  object-fit: cover;
}
.frame4 {
  top: 11px;
  left: 0;
  width: 60px;
}
.frame3,
.frame4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  overflow: hidden;
}
.frame3,
.friends {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 65px;
}
.frame5,
.vector-icon {
  position: absolute;
  overflow: hidden;
}
.vector-icon {
  height: 90.7%;
  width: 106.23%;
  top: 14.53%;
  right: -6.23%;
  bottom: -5.23%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.frame5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 1px;
  left: 23px;
  width: 28.9px;
  height: 34.4px;
}
.coding-apps-websites-database-icon {
  position: absolute;
  top: 23px;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
  object-fit: cover;
}
.frame7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 11px;
  width: 20px;
  height: 43px;
  overflow: hidden;
}
.frame-inner,
.mine1 {
  position: absolute;
  left: 0;
}
.frame-inner {
  top: 0;
  background-color: var(--color-gainsboro);
  width: 72px;
  height: 65px;
  mix-blend-mode: darken;
}
.mine1 {
  top: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 46px;
}
.frame8,
.frame9 {
  position: absolute;
  top: 0;
  overflow: hidden;
}
.frame9 {
  left: 7px;
  width: 46px;
  height: 58px;
}
.frame8 {
  left: 0;
}
.frame6,
.frame8,
.mine {
  width: 72px;
  height: 65px;
}
.frame6 {
  position: absolute;
  top: 1px;
  left: 2px;
  overflow: hidden;
}
.mine {
  top: 0;
  left: 72px;
}
.frame10,
.home1,
.mine {
  position: absolute;
}
.home1 {
  top: 0;
  left: 14px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 46px;
}
.frame10 {
  top: 48px;
  left: 0;
  width: 60px;
  height: 10px;
  overflow: hidden;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 72px;
  height: 65px;
  mix-blend-mode: darken;
}
.computer-old-electronics-icon,
.frame12 {
  position: absolute;
  height: 32px;
  overflow: hidden;
}
.computer-old-electronics-icon {
  top: 0;
  left: 25px;
  width: 32px;
  object-fit: cover;
}
.frame12 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 10px;
  left: 0;
  width: 57px;
}
.frame11,
.home {
  top: 0;
  width: 72px;
  height: 65px;
}
.frame11 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  left: 0;
  overflow: hidden;
}
.home {
  left: 144px;
}
.frame13,
.home,
.info1 {
  position: absolute;
}
.info1 {
  top: 0;
  left: 2px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 46px;
}
.frame13 {
  top: 49px;
  left: 0;
  width: 48px;
  height: 10px;
  overflow: hidden;
}
.frame-child1,
.vector-icon1 {
  position: absolute;
  top: 0;
  left: 0;
}
.frame-child1 {
  background-color: var(--color-gainsboro);
  width: 72px;
  height: 65px;
  mix-blend-mode: darken;
}
.vector-icon1 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame15,
.interface-essential-informatio {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 9px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.frame15 {
  top: 11px;
  left: 0;
  width: 41px;
}
.footer,
.frame14,
.info {
  position: absolute;
  top: 0;
  width: 72px;
  height: 65px;
}
.frame14 {
  left: 0;
  overflow: hidden;
}
.footer,
.info {
  left: 288px;
}
.footer {
  top: 735px;
  left: 0;
  border-radius: 35px;
  background-color: #414141;
  width: 360px;
  text-align: center;
  font-size: var(--font-size-6xs);
  color: var(--color-gray);
  font-family: var(--font-jockey-one);
}
.gpus-child {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-midnightblue);
  width: 152px;
  height: 26px;
}
.div,
.gpus-child,
.image-1 {
  position: absolute;
}
.div {
  top: 0;
  left: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 26px;
}
.image-1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 2px;
  left: 0;
  width: 22px;
  height: 22px;
  background-image: url(./public/image-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame18 {
  position: absolute;
  top: 0;
  left: 11px;
  width: 51px;
  height: 26px;
  overflow: hidden;
}
.gpus {
  left: 194px;
  width: 152px;
  height: 27px;
}
.div1,
.electricity-1,
.gpus {
  position: absolute;
  top: 0;
}
.electricity-1 {
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(90deg, #ffd300, #680099);
  width: 152px;
  height: 26px;
}
.div1 {
  left: 28px;
  display: flex;
  align-items: center;
  width: 29px;
  height: 24px;
}
.electric-generator-2576342-1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 2px;
  left: 0;
  width: 22px;
  height: 22px;
  background-image: url(./public/electricgenerator-2576342-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.electricity,
.frame19 {
  position: absolute;
  top: 0;
}
.frame19 {
  left: 11px;
  width: 57px;
  height: 24px;
  overflow: hidden;
}
.electricity {
  left: 0;
  width: 152px;
  height: 26px;
  text-align: left;
  color: #000;
}
.frame17 {
  position: absolute;
  top: 103px;
  left: 9px;
  width: 346px;
  height: 27px;
  overflow: hidden;
}
.tonbalance-child {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-midnightblue);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 90px;
  height: 25px;
}
.vector-icon2 {
  position: absolute;
  height: 68%;
  width: 20.99%;
  top: 16%;
  right: 76.54%;
  bottom: 16%;
  left: 2.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div2 {
  position: absolute;
  top: 0;
  left: 26px;
  display: flex;
  align-items: center;
  width: 55px;
  height: 25px;
}
.vector-icon3 {
  position: absolute;
  height: 28%;
  width: 8.64%;
  top: 36%;
  right: 82.72%;
  bottom: 36%;
  left: 8.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame22,
.tonbalance {
  position: absolute;
  height: 25px;
}
.frame22 {
  top: 0;
  left: 9px;
  width: 81px;
  overflow: hidden;
}
.tonbalance {
  top: 31px;
  left: 0;
  width: 90px;
}
.exos-balance-child,
.frame21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
}
.frame21 {
  height: 56px;
  overflow: hidden;
}
.exos-balance-child {
  border-radius: var(--br-3xs);
  background-color: var(--color-midnightblue);
  height: 25px;
}
.div3 {
  position: absolute;
  top: 0;
  left: 21px;
  font-size: 15px;
  font-family: var(--font-karantina);
  color: var(--color-cornflowerblue);
  text-align: left;
  display: flex;
  align-items: center;
  width: 63px;
  height: 23px;
}
.business-products-wallet-money-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 22px;
  overflow: hidden;
  object-fit: cover;
}
.frame25 {
  position: absolute;
  top: 1px;
  left: 5px;
  width: 84px;
  height: 23px;
  overflow: hidden;
}
.exos-balance,
.frame24 {
  position: absolute;
  width: 90px;
}
.exos-balance {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 31px;
  left: 0;
  height: 25px;
}
.frame24 {
  top: 0;
  left: 160px;
  height: 56px;
  overflow: hidden;
}
.hmara-1-icon {
  position: absolute;
  top: 0;
  left: -3px;
  width: 158px;
  height: 67px;
  object-fit: cover;
}
.frame26,
.level-1 {
  position: absolute;
  width: 45px;
}
.level-1 {
  margin: 0;
  top: 27px;
  left: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.frame26 {
  top: 0;
  left: 57px;
  height: 49px;
  overflow: hidden;
}
.frame23,
.hmara {
  top: 0;
  height: 67px;
}
.hmara {
  position: absolute;
  left: 0;
  width: 158px;
}
.frame23 {
  left: 97px;
  width: 250px;
  color: var(--color-white);
  font-family: var(--font-jockey-one);
}
.frame20,
.frame23,
.header {
  position: absolute;
  overflow: hidden;
}
.frame20 {
  top: 18px;
  left: 9px;
  width: 347px;
  height: 67px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-cornflowerblue);
  font-family: var(--font-karantina);
}
.header {
  top: -1px;
  left: -1px;
  box-shadow: 1px 3px 5px #ffd300;
  border-radius: 0 0 var(--br-11xl) var(--br-11xl);
  background-color: var(--color-darkslateblue);
  border: 1px solid rgba(255, 211, 0, 0.8);
  box-sizing: border-box;
  width: 362px;
  height: 158px;
}
.frame16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-cornflowerblue);
  font-family: var(--font-karantina);
}
.frame,
.frame16,
.iphone-14-15-pro-1 {
  height: 800px;
  overflow: hidden;
}
.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
}
.iphone-14-15-pro-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslateblue);
}
