.output-onlinegiftools-1-icon,
.photo-2024-05-22-11-43-31-1-icon {
  position: absolute;
  top: 103px;
  left: 82px;
  width: 365px;
  height: 701px;
  object-fit: cover;
}
.output-onlinegiftools-1-icon {
  top: 0;
  left: 0;
  width: 522px;
  height: 517px;
}
.photo-2024-05-22-11-43-31-1-parent {
  position: absolute;
  top: -103px;
  left: -83px;
  width: 522px;
  height: 794px;
}
.exos-balance-child,
.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 358px;
  height: 706px;
}
.exos-balance-child {
  border-radius: var(--br-3xs);
  background-color: var(--color-midnightblue);
  width: 90px;
  height: 25px;
}
.div {
  position: absolute;
  top: 1px;
  left: 26px;
  display: flex;
  align-items: center;
  width: 63px;
  height: 23px;
}
.business-products-wallet-money-icon {
  position: absolute;
  top: 1px;
  left: 5px;
  width: 21px;
  height: 22px;
  overflow: hidden;
  object-fit: cover;
}
.exos-balance {
  position: absolute;
  top: 49px;
  left: 266px;
  width: 90px;
  height: 25px;
  font-size: 15px;
}
.gpus-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-midnightblue);
  width: 152px;
  height: 26px;
}
.image-1-icon {
  position: absolute;
  top: 2px;
  left: 11px;
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.div1 {
  position: absolute;
  top: 0;
  left: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 26px;
}
.electricity-1,
.gpus {
  position: absolute;
  width: 152px;
}
.gpus {
  top: 103px;
  left: 203px;
  height: 27px;
  text-align: center;
}
.electricity-1 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(90deg, #ffd300, #680099);
  height: 26px;
}
.electric-generator-2576342-1-icon {
  position: absolute;
  top: 2px;
  left: 11px;
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.div2 {
  position: absolute;
  top: 0;
  left: 39px;
  display: flex;
  align-items: center;
  width: 29px;
  height: 24px;
}
.electricity {
  position: absolute;
  top: 103px;
  left: 9px;
  width: 152px;
  height: 26px;
  color: #000;
}
.tonbalance-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 90px;
  height: 25px;
  object-fit: cover;
}
.vector-icon,
.vector-icon1 {
  position: absolute;
  height: 68%;
  width: 18.89%;
  top: 16%;
  right: 71.11%;
  bottom: 16%;
  left: 10%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1 {
  height: 28%;
  width: 7.78%;
  top: 38.4%;
  right: 76.67%;
  bottom: 33.6%;
  left: 15.56%;
}
.div3,
.tonbalance {
  position: absolute;
  height: 25px;
}
.div3 {
  top: 0;
  left: 29px;
  display: flex;
  align-items: center;
  width: 61px;
}
.tonbalance {
  top: 49px;
  left: 9px;
  width: 90px;
  font-size: var(--font-size-base);
}
.hmara-1-icon {
  position: absolute;
  top: 0;
  left: -3px;
  width: 158px;
  height: 67px;
  object-fit: cover;
}
.level-1 {
  margin: 0;
  top: 27px;
  left: 57px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 45px;
}
.header,
.hmara,
.level-1 {
  position: absolute;
}
.hmara {
  top: 18px;
  left: 106px;
  width: 158px;
  height: 67px;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-jockey-one);
}
.header {
  top: -1px;
  left: -1px;
  box-shadow: 1px 3px 5px #ffd300;
  border-radius: 0 0 var(--br-11xl) var(--br-11xl);
  background-color: var(--color-darkslateblue);
  border: 1px solid rgba(255, 211, 0, 0.8);
  box-sizing: border-box;
  width: 362px;
  height: 158px;
  overflow: hidden;
}
.friends-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 72px;
  height: 65px;
  mix-blend-mode: darken;
}
.friends1 {
  position: absolute;
  top: 49px;
  left: 22px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 46px;
}
.multiple-user-icon {
  position: absolute;
  top: 11px;
  left: 28px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  object-fit: cover;
}
.friends,
.mine-child {
  width: 72px;
  position: relative;
  height: 65px;
}
.mine-child {
  position: absolute;
  top: 1px;
  left: 2px;
  background-color: var(--color-gainsboro);
  mix-blend-mode: darken;
}
.vector-icon2 {
  position: absolute;
  height: 48%;
  width: 42.64%;
  top: 9.23%;
  right: 25.42%;
  bottom: 42.77%;
  left: 31.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.coding-apps-websites-database-icon {
  position: absolute;
  top: 24px;
  left: 13px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  object-fit: cover;
}
.mine1 {
  position: absolute;
  top: 49px;
  left: 9px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 46px;
}
.home-child,
.mine {
  width: 72px;
  position: relative;
  height: 65px;
}
.home-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  mix-blend-mode: darken;
}
.computer-old-electronics-icon {
  position: absolute;
  top: 10px;
  left: 25px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  object-fit: cover;
}
.home1 {
  position: absolute;
  top: 48px;
  left: 14px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 46px;
}
.home,
.market-child {
  width: 72px;
  position: relative;
  height: 65px;
}
.market-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  mix-blend-mode: darken;
}
.shopping-shipping-cart-icon {
  position: absolute;
  top: 11px;
  left: 20px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  object-fit: cover;
}
.market1 {
  position: absolute;
  top: 49px;
  left: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 46px;
}
.info-child,
.market {
  width: 72px;
  position: relative;
  height: 65px;
}
.info-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  mix-blend-mode: darken;
}
.interface-essential-informatio-icon {
  position: absolute;
  top: 11px;
  left: 9px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.info1 {
  position: absolute;
  top: 49px;
  left: 2px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 46px;
}
.info {
  width: 72px;
  position: relative;
  height: 65px;
}
.footer {
  position: absolute;
  top: 636px;
  left: 0;
  border-radius: 35px;
  background-color: #414141;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-6xs);
  color: var(--color-gray);
  font-family: var(--font-jockey-one);
}
.iphone-14-15-pro-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslateblue);
  height: 701px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-cornflowerblue);
  font-family: var(--font-karantina);
}
