.iphone-1415-pro-1 .toncoin-ton-logo-1 {
  margin: 3px 0 2px 0;
  width: 17px;
  height: 17px;
}
.iphone-1415-pro-1 .balance {
  overflow-wrap: break-word;
  font-family: 'Jockey One';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.balance {
  font-family: 'Jockey One';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.333;
}
.iphone-1415-pro-1 .container-7 {
  border-radius: 10px;
  background: #202660;
  position: relative;
  margin: 28px 0 14px 0;
  display: flex;
  flex-direction: row;
  padding: 1px 11.2px 2px 10px;
  flex-grow: 1;
  flex-basis: 90px;
  box-sizing: border-box;
}
.iphone-1415-pro-1 .level-1 {
  overflow-wrap: break-word;
  font-family: 'Jockey One';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.iphone-1415-pro-1 .container-8 {
  background: url('../assets/images/hmara_1.png') 50% / cover no-repeat;
  position: relative;
  margin-right: 5px;
  display: flex;
  padding: 31px 0 14px 3.2px;
  flex-grow: 1;
  flex-basis: 158px;
  box-sizing: border-box;
}
.iphone-1415-pro-1 .balance-1 {
  overflow-wrap: break-word;
  font-family: 'Jockey One';
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
}
.balance-1 {
  font-family: 'Jockey One';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.333;
}
.iphone-1415-pro-1 .container-6 {
  border-radius: 10px;
  background: #202660;
  position: relative;
  margin: 28px 0 14px 0;
  padding: 1px 18px 3px 18px;
  flex-grow: 1;
  flex-basis: 90px;
  box-sizing: border-box;
}
.iphone-1415-pro-1 .container-10 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}
.iphone-1415-pro-1 .electric-generator-25763421 {
  background: url('../assets/images/electric_generator_25763421.png') 50% / cover no-repeat;
  margin-right: 4px;
  width: 22px;
  height: 22px;
}
.iphone-1415-pro-1 .electricity {
  margin: 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Jockey One';
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}
.iphone-1415-pro-1 .container-4 {
  border-radius: 10px;
  background: linear-gradient(90deg, #FFD300, #680099);
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 2px 0 2px 8px;
  width: 152px;
  box-sizing: border-box;
}
.iphone-1415-pro-1 .image-1 {
  background: url('../assets/images/image_1.png') 50% / cover no-repeat;
  margin-right: 7px;
  width: 22px;
  height: 22px;
}
.iphone-1415-pro-1 .videocards {
  margin: 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Jockey One';
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}
.iphone-1415-pro-1 .container-1 {
  border-radius: 10px;
  background: #202660;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 2px 0 2px 10px;
  width: 152px;
  box-sizing: border-box;
}
.iphone-1415-pro-1 .container-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.iphone-1415-pro-1 .frame-1 {
  box-shadow: 0px 5px 6px 0px #FFD300;
  border-radius: 0 0 40px 40px;
  background: #2E378C;
  position: relative;
  margin-bottom: 420px;
  display: flex;
  flex-direction: column;
  padding: 19px 6px 19px 11px;
  width: 100%;
  box-sizing: border-box;
}
.iphone-1415-pro-1 .group-1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 360px;
  height: 66px;
}
.iphone-1415-pro-1 .rectangle-3 {
  border-radius: 35px;
  background: #414141;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 360px;
  height: 65px;
}
.iphone-1415-pro-1 .group-2 {
  width: 32px;
  height: 29px;
}
.iphone-1415-pro-1 .multiple-user {
  margin: 0 29px 2px 0;
  display: flex;
  width: 32px;
  height: 29px;
  box-sizing: border-box;
}
.iphone-1415-pro-1 .vector-21 {
  width: 29.7px;
  height: 30.2px;
}
.iphone-1415-pro-1 .noun-pickaxe-54965521 {
  margin-top: 0.7px;
  display: flex;
  width: 29.7px;
  height: 30.2px;
  box-sizing: border-box;
}
.iphone-1415-pro-1 .container {
  margin-top: 1.5px;
  display: flex;
  flex-direction: row;
  width: 90.7px;
  height: fit-content;
  box-sizing: border-box;
}
.iphone-1415-pro-1 .group {
  width: 27.4px;
  height: 32px;
}
.iphone-1415-pro-1 .computer-old-electronics {
  margin-bottom: 0.5px;
  display: flex;
  width: 27.4px;
  height: 32px;
  box-sizing: border-box;
}
.iphone-1415-pro-1 .group-1 {
  width: 32px;
  height: 32px;
}
.iphone-1415-pro-1 .shopping-shipping-cart {
  margin-right: 29px;
  display: flex;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.iphone-1415-pro-1 .vector-13 {
  width: 32px;
  height: 32px;
}
.iphone-1415-pro-1 .interface-essential-information-circle-2 {
  display: flex;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.iphone-1415-pro-1 .container-5 {
  margin-bottom: 0.5px;
  display: flex;
  flex-direction: row;
  width: 93px;
  box-sizing: border-box;
}
.iphone-1415-pro-1 .container-9 {
  position: relative;
  margin-bottom: 5.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.iphone-1415-pro-1 .friends {
  margin-right: 5px;
  width: 57.3px;
  overflow-wrap: break-word;
  font-family: 'Jockey One';
  font-weight: 400;
  font-size: 7px;
  color: #7E7E7E;
}
.iphone-1415-pro-1 .mine {
  overflow-wrap: break-word;
  font-family: 'Jockey One';
  font-weight: 400;
  font-size: 7px;
  color: #7E7E7E;
}
.iphone-1415-pro-1 .home {
  overflow-wrap: break-word;
  font-family: 'Jockey One';
  font-weight: 400;
  font-size: 7px;
  color: #7E7E7E;
}
.iphone-1415-pro-1 .market {
  overflow-wrap: break-word;
  font-family: 'Jockey One';
  font-weight: 400;
  font-size: 7px;
  color: #7E7E7E;
}
.iphone-1415-pro-1 .info {
  overflow-wrap: break-word;
  font-family: 'Jockey One';
  font-weight: 400;
  font-size: 7px;
  color: #7E7E7E;
}
.iphone-1415-pro-1 .container-3 {
  position: relative;
  margin: 0 7.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 282.7px;
  box-sizing: border-box;
}
.iphone-1415-pro-1 .frame-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 11px 32px 7px 28px;
  width: 361px;
  box-sizing: border-box;
}
.iphone-1415-pro-1 {
  background: #2E378C;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3px;
  box-sizing: border-box;
}
