.computers-devices-electronicsm-icon {
  position: absolute;
  top: 9px;
  left: 21px;
  width: 78px;
  height: 78px;
  overflow: hidden;
}
.info {
  position: absolute;
  top: 22px;
  left: 111px;
  font-family: var(--font-jockey-one);
  display: inline-block;
  width: 181px;
  height: 39px;
}
.card1-child,
.card1-item {
  position: absolute;
  top: 91px;
  left: 20px;
  border-radius: var(--br-11xl);
  background-color: var(--color-mediumslateblue);
  width: 88px;
  height: 20px;
}
.card1-item {
  top: 30px;
  left: 202px;
  box-shadow: 0 2px 2px #2b2b2f;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslateblue);
  width: 100px;
  height: 53px;
}
.vector-icon,
.vector-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vector-icon1 {
  height: 40.81%;
  width: 40.81%;
  top: 29.46%;
  right: 29.73%;
  bottom: 29.73%;
  left: 29.46%;
}
.vector-parent {
  height: 30.33%;
  width: 11.71%;
  top: 31.15%;
  right: 21.52%;
  bottom: 38.52%;
  left: 66.77%;
}
.n,
.rarity,
.vector-parent {
  position: absolute;
}
.n {
  top: 39px;
  left: 260px;
  display: inline-block;
  width: 29px;
  height: 32px;
}
.rarity {
  top: 91px;
  left: 20px;
  font-size: var(--font-size-smi);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88px;
  height: 20px;
}
.card1,
.card2,
.card3,
.card4,
.card5 {
  position: absolute;
  top: 64px;
  left: 24px;
  border-radius: var(--br-11xl);
  background-color: var(--color-midnightblue);
  width: 316px;
  height: 122px;
}
.card2,
.card3,
.card4,
.card5 {
  top: 197px;
  left: 26px;
}
.card3,
.card4,
.card5 {
  top: 330px;
  left: 24px;
}
.card4,
.card5 {
  top: 463px;
  left: 26px;
}
.card5 {
  top: 596px;
  left: 24px;
}
.group-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.shopping-shipping-cart {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 11px;
  left: 20px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.frame-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 72px;
  height: 65px;
  mix-blend-mode: darken;
}
.market1 {
  position: absolute;
  top: 49px;
  left: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 46px;
}
.frame {
  left: 0;
  width: 72px;
  height: 65px;
  overflow: hidden;
}
.frame,
.friends1,
.market {
  position: absolute;
  top: 0;
}
.market {
  left: 216px;
  width: 72px;
  height: 65px;
}
.friends1 {
  left: 22px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 46px;
}
.frame1 {
  position: absolute;
  top: 49px;
  left: 0;
  width: 68px;
  height: 10px;
  overflow: hidden;
}
.frame3,
.multiple-user-icon {
  position: absolute;
  height: 32px;
}
.multiple-user-icon {
  top: 0;
  left: 28px;
  width: 32px;
  overflow: hidden;
  object-fit: cover;
}
.frame3 {
  top: 11px;
  left: 0;
  width: 60px;
}
.frame2,
.frame3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  overflow: hidden;
}
.frame2,
.friends {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 65px;
}
.frame4,
.vector-icon10 {
  position: absolute;
  overflow: hidden;
}
.vector-icon10 {
  height: 90.7%;
  width: 106.23%;
  top: 14.53%;
  right: -6.23%;
  bottom: -5.23%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.frame4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 1px;
  left: 23px;
  width: 28.9px;
  height: 34.4px;
}
.coding-apps-websites-database-icon {
  position: absolute;
  top: 23px;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
  object-fit: cover;
}
.frame6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 11px;
  width: 20px;
  height: 43px;
  overflow: hidden;
}
.frame8,
.mine1 {
  position: absolute;
  width: 46px;
}
.mine1 {
  top: 48px;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.frame8 {
  top: 0;
  left: 7px;
  height: 58px;
  overflow: hidden;
}
.frame5,
.mine {
  width: 72px;
  height: 65px;
}
.frame5 {
  position: absolute;
  top: 1px;
  left: 2px;
  overflow: hidden;
}
.mine {
  top: 0;
  left: 72px;
}
.frame9,
.home1,
.mine {
  position: absolute;
}
.home1 {
  top: 0;
  left: 14px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 46px;
}
.frame9 {
  top: 48px;
  left: 0;
  width: 60px;
  height: 10px;
  overflow: hidden;
}
.computer-old-electronics-icon,
.frame11 {
  position: absolute;
  height: 32px;
  overflow: hidden;
}
.computer-old-electronics-icon {
  top: 0;
  left: 25px;
  width: 32px;
  object-fit: cover;
}
.frame11 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 10px;
  left: 0;
  width: 57px;
}
.home {
  top: 0;
  left: 144px;
  width: 72px;
  height: 65px;
}
.frame12,
.home,
.info6 {
  position: absolute;
}
.info6 {
  top: 0;
  left: 2px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 46px;
}
.frame12 {
  top: 49px;
  left: 0;
  width: 48px;
  height: 10px;
  overflow: hidden;
}
.frame14,
.interface-essential-informatio {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 9px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.frame14 {
  top: 11px;
  left: 0;
  width: 41px;
}
.footer,
.info5 {
  position: absolute;
  top: 0;
  left: 288px;
  width: 72px;
  height: 65px;
}
.footer {
  top: 735px;
  left: 1px;
  border-radius: var(--br-16xl);
  background-color: var(--color-darkslategray);
  width: 360px;
  text-align: center;
  font-size: var(--font-size-6xs);
  color: var(--color-gray);
  font-family: var(--font-jockey-one);
}
.balance-child {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-11xl);
  background-color: var(--color-midnightblue);
  width: 145px;
  height: 30px;
}
.div,
.vector-icon13 {
  position: absolute;
  top: 10px;
  left: 36px;
}
.vector-icon13 {
  height: 40.83%;
  width: 40.83%;
  top: 29.58%;
  right: 29.58%;
  bottom: 29.58%;
  left: 29.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vector-parent2 {
  position: absolute;
  height: 80%;
  width: 22.22%;
  top: 10%;
  right: 69.44%;
  bottom: 10%;
  left: 8.33%;
}
.balance {
  position: absolute;
  top: 17px;
  left: 24px;
  width: 108px;
  height: 30px;
  font-size: var(--font-size-smi);
}
.android-large-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslateblue);
  height: 800px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-press-start-2p);
}
